body{
	color:#000000;
	font-size:12pt;
	font-weight:small;
	font-family:MySansNew,Verdana,sans-serif;
	background-color:#ffffff;
}
a:link{
	text-decoration:none;
	color:#3f6d8c;
}
a:visited{
	text-decoration:none;
	color:#3f6d8c;
}
a:hover{
	text-decoration:none;
	color:#3f6d8c;
}
a:active{
	text-decoration:none;
	color:#3f6d8c;
}

td.menu{
	color:#0f0f0f;
	background-color:#e5e2c7;
}
td.pic{
	color:#0f0f0f;
	background-color:#e5e2c7;
}
